:root {
    --font-family: "Noto Sans", sans-serif;
    --color-white: white;
    --bg-color: #525252;
    --bg-blue: #0046AD;
    --bg-dark-blue: #023DA0;
    --text-sm: 13px;
    --text-md: 22px;
    --text-xl: 61px;
    --fw-normal: 400;
    --fw-bold: 700;
    --lh-15px: 15px;
    --lh-29px: 29.96px;
    --lh-83px: 83.08px;
}

.font-family {
    font-family: var(--font-family);
}

.color-white {
    color: var(--color-white);
}

.bg-color {
    background-color: var(--bg-color);
}

.bg-dark-blue {
    background-color: var(--bg-dark-blue);
}

.bg-blue {
    background-color: var(--bg-blue);
}

.text-sm {
    font-size: var(--text-sm);
}

.text-md {
    font-size: var(--text-md);
}

.text-xl {
    font-size: var(--text-xl);
}

.fw-normal {
    font-weight: var(--lh-22px);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.lh-15px {
    line-height: var(--lh-15px);
}

.lh-29px {
    line-height: var(--lh-29px);
}

.lh-83px {
    line-height: var(--lh-83px);
}

@media (max-width:768px) {
    :root {
        --text-xl: 48px;
        --lh-83px: 58px;
    }
}

@media (max-width:576px) {
    :root {
        --text-xl: 32px;
        --fw-bold: 600;
        --lh-83px: 42px;
    }

    @media (max-width:425px) {
        :root {
            --text-md: 16px;
            --text-xl: 25px;
            --lh-83px: 35px;
        }
    }
}